@import "./base/mixin";
@import "./base/variables";
@import "./base/reset";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  color: transparent;
  font-family: "Roboto";
  overflow-x: hidden;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.pageContainer {
  width: 100%;
}
@import "./browser.scss";
@import "./header/header.scss";
@import "./main/main.scss";
@import "./main/container1/content__header.scss";
@import "./main/container1/content__body.scss";
@import "./main/container2/container2.scss";
@import "./main/container2/slider.scss";
@import "./main/container2/select.scss";
@import "./main/container2/inputFile.scss";
@import "./main/container3/container3.scss";
@import "./main/container3/header.scss";
@import "./main/container3/main.scss";
@import "./main/input.scss";
@import "./main/date-block.scss";
@import "./main/text-style.scss";

@import './table-page/header.scss';
@import './table-page/aside.scss';
