.table-page__aside {
  width: 100px;

  padding: 20px 0px 20px 30px;
  .aside__nav {
    width: 100%;
    ul {
      flex-direction: column;
      li {
        i {
          color: black;
          font-size: 40px;
        }
      }
      li:not(last-child) {
        margin-bottom: 30px;
      }
      li:first-child {
        margin-top: 50px;
      }
    }
  }
}
