.table-page__container {
  height: 100%;
  flex-direction: column;
}

.table-page__main {
  flex-grow: 1;

  .table-container {
    background-color: #f9f9f9;
    padding: 0 35px;
    box-shadow: inset 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      inset 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      inset 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    flex-grow: 1;

    &__header {
      padding: 30px 0;
      align-items: center;
      h1 {
        font-size: 45px;
      }

      .btn-order {
        height: 35px;
        margin-left: 30px;
        background-color: #04db98;
        border: none;
        outline: none;
        padding: 10px 15px;
        border-radius: 8px;
        font-weight: bold;
        p {
          display: inline-block;
          font-size: 15px;
          color: #004447;
        }
      }
    }
    &__main {
      .table {
        background-color: white;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
          0px 4px 5px 0px rgba(0, 0, 0, 0.14),
          0px 1px 10px 0px rgba(0, 0, 0, 0.12);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .table-head {
          min-height: 40px;
          border: none;
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
            0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          align-items: center;

          > div {
            width: 15%;
            height: 100%;
            margin: 0px 20px;
            text-align: center;
            p {
              display: inline-block;
              font-size: 15px;
              text-transform: uppercase;
              color: #afacbf;
            }
          }
        }
        .table-body {
          min-height: 500px;
          margin-top: 10px;

          .table-search__container {
            width: 100%;
            padding: 10px 20px;
            .table-search {
              height: 100%;
              background-color: #f4f4f4;
              border-radius: 5px;
              color: #a4a2b0;
              align-items: center;
              padding: 7px;
              p {
                display: inline-block;
                margin-left: 10px;
              }
              i {
                font-size: 30px;
              }
            }
          }
          .table-rows__container {
            .table-row__head {
              padding: 5px 25px;
              align-items: center;
              justify-content: space-between;
              border-bottom: 1px solid #f4f4f4;

              .table-checkbox {
                width: 20px;
                height: 20px;
                border: 1px solid #a2c1f2;
                box-shadow: 0px 0px 1px 0px black;
              }
              .table-text {
                width: 18%;
                padding: 10px;
                color: #81809f;
              }
            }
            .table-row {
              @extend .table-row__head;
              .table-text {
                color: black;
              }
              .table-text:nth-child(5),
              .table-text:last-child {
                p {
                  display: inline-block;
                  background-color: #7bc3b7;
                  padding: 2px 15px;
                  border-radius: 5px;
                }
              }
            }
            .table-row:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}
