.container3__header {
  width: 100%;
  height: 200px;
  justify-content: space-between; }
  .container3__header .header-left, .container3__header .header-right {
    width: 49%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    flex-direction: column; }
    .container3__header .header-left .img-container, .container3__header .header-right .img-container {
      justify-content: center;
      align-items: center; }
      .container3__header .header-left .img-container img, .container3__header .header-right .img-container img {
        width: 100px; }
    .container3__header .header-left .text-container, .container3__header .header-right .text-container {
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
      .container3__header .header-left .text-container label, .container3__header .header-right .text-container label {
        margin: 0 10px;
        font-size: 25px; }
  .container3__header .header-right {
    width: 49%;
    height: 100%;
    background-color: #f9f9f9; }
    .container3__header .header-right .img-container {
      min-height: 100px; }
      .container3__header .header-right .img-container img {
        width: 170px; }
