.secondSection__account {
  margin-top: 20px; }
  .secondSection__account .account-left {
    width: 30%; }
    .secondSection__account .account-left p {
      display: inline-block;
      background-color: #f2be87; }
  .secondSection__account .account-right {
    width: 70%; }
    .secondSection__account .account-right .account-form {
      flex-direction: column; }
      .secondSection__account .account-right .account-form p {
        background-color: #f2be87;
        display: inline-block; }
