.content__header {
  padding: 0 45px;
  .header__element {
    width: calc(100% / 3);
    padding: 10px 15px;
    border: 1px solid #d2cfcf;
    justify-content: space-around;
    cursor: pointer;

    .element__number {
      width: 30px;
      height: 30px;
      background-color: $white;
      border-radius: 50%;
      border: 1px solid #d2cfcf;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $black;
      font-size: 20px;
    }

    .element__name {
      font-size: 20px;
      align-items: center;
      text-transform: uppercase;

      // span {
      //   background-color: #f2be87;
      // }
    }
  }
}
