.main {
  width: 100%;
  height: 10px;
  flex-grow: 1;
  margin: 35px 0 0;
  overflow: auto;

  &__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__title {
    justify-content: center;

    h1 {
      background-color: #61798c;
      font-size: 36px;
      display: none;
    }
  }

  &__content {
    height:100%;

    .sections-container {
      height:100%;
      position: relative;
      left: 0;
      transition: all 0.2s ease;
      .content__container {
        width: 100%;
        padding: 0 40px;
      }
    }
  }
}

.active {
  background-color: #a2c1f2;
  span {
    // background-color: #fffaff !important;
    color: white;
  }
}
