.main {
  width: 100%;
  margin: 35px 0 0;

  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    justify-content: center;

    h1 {
      background-color: #61798c;
      font-size: 36px;
      display: none;
    }
  }

  &__content {
    margin: 40px 0;

    .sections-container {
      flex-wrap: nowrap;
      position: relative;
      left: 0;
      transition: all 0.2s ease;
      .content__container {
        width: 100%;
        padding: 40px;
      }
    }
  }
}

.active {
  background-color: #a2c1f2;
  span {
    background-color: #fffaff !important;
  }
}
