.main {
  width: 100%;
  height: 10px;
  flex-grow: 1;
  margin: 35px 0 0;
  overflow: auto; }
  .main__container {
    width: 100%;
    height: 100%;
    margin: 0 auto; }
  .main__title {
    justify-content: center; }
    .main__title h1 {
      background-color: #61798c;
      font-size: 36px;
      display: none; }
  .main__content {
    height: 100%; }
    .main__content .sections-container {
      height: 100%;
      position: relative;
      left: 0;
      transition: all 0.2s ease; }
      .main__content .sections-container .content__container {
        width: 100%;
        padding: 0 40px; }

.active {
  background-color: #a2c1f2; }
  .active span {
    color: white; }
